/* iframe-style.css */

@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,700');

body, body a {

    color: #414141;

}

body {

    font-family: Oswald, sans-serif !important;

    height: 100%;

    background: url("https://cdn.punchh.com/white-label-basic-images/overlay-bg.jpg") center center/cover no-repeat fixed;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

}

body a:hover {

    color: #c55330;

}

.navbar-div .popup {

    color: #900027;

}

.navbar-div span+span:before {

    color: #929292;

    background-color: #e7ebeb;

}

.seprator .or-text {

    background-color: #e7ebeb;

    color: #929292;

}

.forgot-div a:hover:before, .info-div a:hover:before, .signup-form form a:hover:before {

    background-color: #c55330;

}

.iframe-container form .btn-submit:hover, .iframe-container form .submit-div input:hover {

    background-color: #c55330;

}

.facebook-label {

    background-color: #edf2f2;

    border: 2px solid #a3a3a3;

    color: #a3a3a3;

}

.btn-fb a, .facebook-link a, .google-sign_in-link {

    background-color: #436c99;

    color: #fff;

}

.google-sign_in-link:hover {

    color: #c55330 !important;

}

.alert-message {

    color: #c55330;

}

.user-dahboard .iframe-container {

    background-color: #fafafa;

}

.user-dahboard .iframe-header .navbar-div span.signout-link a {

    background-color: #c55330;

    color: #fff;

}

.text-link {

    color: #0087d9 !important;

}

.text-link::before {

    background: #8bbced !important;

}

/* application_iframe_redemptions.css */

.redemption-form .form-check {

    border: 1px solid #dee2e6;

}

.redemption-form .text-muted {

    color: #6c757d !important;

}

.redemption-form .text-bold {

    font-weight: 700 !important;

}

.btn-view-more {

    line-height: 1.5 !important;

}

.locked-redeemables .locked_redeemables_container {

    max-height: 430px;

    overflow-y: hidden;

    overflow-x: auto;

}

.locked-redeemables.view_more_container .locked_redeemables_container {

    max-height: unset;

    overflow-y: scroll;

    overflow-x: auto;

}

.margin-top-20 {

    margin-top: 20px !important;

}

.w-100 {

    width: 100%;

}

.redeemable-div select {

    width: 100%;

    height: 30px;

}

.d-flex {

    display: flex;

}

.location-div > div.d-flex {

    margin-top: 15px;

    margin-bottom: 5px;

}

.location_redeem select, .checkin-div select {

    width: calc(100% - 12px);

    height: 30px;

}

.redemption-div .location-select {

    margin-top: 15px;

}

.redemption-div .location-select label {

    display: inline-block;

}

.redemption-div .location_redeem {

    margin-bottom: 20px;

}
