/* iframe-style.css */

@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,700');

body, body a {

    color: #414141;

}

body {

    font-family: Oswald, sans-serif !important;

    height: 100%;

    background: url("https://cdn.punchh.com/white-label-basic-images/overlay-bg.jpg") center center/cover no-repeat fixed;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

}

body a:hover {

    color: #c55330;

}

.navbar-div .popup {

    color: #900027;

}

.navbar-div span+span:before {

    color: #929292;

    background-color: #e7ebeb;

}

.seprator .or-text {

    background-color: #e7ebeb;

    color: #929292;

}

.forgot-div a:hover:before, .info-div a:hover:before, .signup-form form a:hover:before {

    background-color: #c55330;

}

.iframe-container form .btn-submit:hover, .iframe-container form .submit-div input:hover {

    background-color: #c55330;

}

.facebook-label {

    background-color: #edf2f2;

    border: 2px solid #a3a3a3;

    color: #a3a3a3;

}

.btn-fb a, .facebook-link a, .google-sign_in-link {

    background-color: #436c99;

    color: #fff;

}

.google-sign_in-link:hover {

    color: #c55330 !important;

}

.alert-message {

    color: #c55330;

}

.user-dahboard .iframe-container {

    background-color: #fafafa;

}

.user-dahboard .iframe-header .navbar-div span.signout-link a {

    background-color: #c55330;

    color: #fff;

}

.text-link {

    color: #0087d9 !important;

}

.text-link::before {

    background: #8bbced !important;

}

/* application_iframe_redemptions.css */

.redemption-form .form-check {

    border: 1px solid #dee2e6;

}

.redemption-form .text-muted {

    color: #6c757d !important;

}

.redemption-form .text-bold {

    font-weight: 700 !important;

}

.btn-view-more {

    line-height: 1.5 !important;

}

.locked-redeemables .locked_redeemables_container {

    max-height: 430px;

    overflow-y: hidden;

    overflow-x: auto;

}

.locked-redeemables.view_more_container .locked_redeemables_container {

    max-height: unset;

    overflow-y: scroll;

    overflow-x: auto;

}

.margin-top-20 {

    margin-top: 20px !important;

}

.w-100 {

    width: 100%;

}

.redeemable-div select {

    width: 100%;

    height: 30px;

}

.d-flex {

    display: flex;

}

.location-div > div.d-flex {

    margin-top: 15px;

    margin-bottom: 5px;

}

.location_redeem select, .checkin-div select {

    width: calc(100% - 12px);

    height: 30px;

}

.redemption-div .location-select {

    margin-top: 15px;

}

.redemption-div .location-select label {

    display: inline-block;

}

.redemption-div .location_redeem {

    margin-bottom: 20px;

}

 

Best,

Diana

 

signature_3861137064

Diana Silva

Engagement Manager

signature_1895295094

Upcoming OOO: June 19 & 20

 

signature_1630212490

signature_2405302023

+1 512 792 6331
partech.com

LinkedIn

 

Instagram

 

Facebook

 

Facebook

 

This email message and any attachments may contain confidential information intended solely for the person(s) to whom this email message is addressed. If you have received this email message in error, please notify the sender immediately and destroy the original message without making a copy.

 

 

From: Emily Errington <emily@wearebarfly.com>
Date: Monday, June 2, 2025 at 4:41 PM
To: Diana Silva <Diana.Silva@partech.com>
Cc: Michele Ary <michele@wearebarfly.com>, Ty Thompson <Ty@wearebarfly.com>
Subject: Support with iFrame

Hi Diana,

 

Our team is still working with Mackenzie to sort out the iFrame, but without direct support from Punchh, we’re running into a bit of a dead end. Do you have any recommendations on how we can move forward with getting this file created and finalized?

 

If you’re able to share how other clients have approached this step, or if there are any partners you would recommend, we’d really appreciate the guidance.

 

Thank you!

 

Emily Errington | BarFly

Brand Manager

C: 586.292.1795 | O: 616.333.6294

1575 Arboretum Drive SE Suite 404 

Grand Rapids, Michigan 49546

 



 

 2 Attachments
  •  Scanned by Gmail

Michele Ary (wearebarfly.com), Emily Errington (wearebarfly.com), Ty Thompson (Ty@wearebarfly.com)
I went ahead and updated the file with this code. Here it is:


Mackenzie Broekstra
Web Designer | launchkitdesign.com
Based in Grand Rapids, Michigan

style (3).css (3K)
Be cautious about sharing sensitive information. Ty@wearebarfly.com is outside your organization and isn't in your contacts.

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

body,
body a {
	color: #414141
}

.login-form,
.pos-relative,
.seprator {
	position: relative
}

.iframe-container,
.iframe-header {
	text-align: center;
	box-sizing: border-box
}

* {
	margin: 0;
	padding: 0
}

body {
	font-family: Oswald, sans-serif !important;
	height: 100%;
	background: url("https://cdn.punchh.com/white-label-basic-images/overlay-bg.jpg") center center/cover no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover
}

body a {
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	-webkit-transition: .3s;
	text-decoration: none !important;
	transition: .3s
}

body a:hover {
	color: #c55330
}

.disp-table {
	display: table;
	width: 100%
}

.padt40 {
	padding-top: 40px
}

.padb20 {
	padding-bottom: 20px
}

.padnb120 {
	padding-bottom: 120px !important
}

.iframe-header {
	padding: 30px 0 0;
	overflow: hidden;
	width: 100%
}

.navbar-div {
	display: inline-block;
	font-size: 23pt;
	padding: 30px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100vw
}

.navbar-div .popup {
	color: #900027;
	display: inline-block;
	font-weight: 400;
	text-decoration: none;
	vertical-align: middle;
	letter-spacing: 1px
}

.navbar-div span+span:before {
	color: #929292;
	content: "OR";
	display: inline-block;
	font-size: 13px;
	margin: 0 20px 0 10px;
	background-color: #e7ebeb;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding: 15px 9px;
	line-height: 3px;
	vertical-align: middle
}

.seprator {
	display: inline-block;
	height: 40px;
	margin: -5px 20px 0;
	vertical-align: middle;
	width: 4px
}

.seprator .or-text {
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #e7ebeb;
	color: #929292;
	font-size: 14px;
	height: 30px;
	left: -12px;
	line-height: 30px;
	padding: 0 8px;
	position: absolute;
	top: 7px
}

.forgot-div a,
.info-div a,
.signup-form form a {
	display: inline-block;
	float: right;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 5px 0 10px;
	position: relative;
	text-align: right;
	text-decoration: none
}

.forgot-div a:before,
.info-div a:before,
.signup-form form a:before {
	-webkit-transform: scaleX(0);
	-webkit-transition: .3s ease-in-out;
	background-color: #c55330;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: .3s ease-in-out;
	visibility: hidden;
	width: 100%
}

.forgot-div a:hover:before,
.info-div a:hover:before,
.signup-form form a:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	visibility: visible
}

.iframe-container {
	width: 100%
}

.iframe-container .login-form,
.iframe-container .signup-form {
	width: 585px;
	margin: 0 auto;
	padding: 40px 0 20px
}

.iframe-container form {
	display: inline-block;
	width: 265px;
	padding-right: 15px;
	vertical-align: middle
}

.form-hint {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 12px;
	padding: 4px 0 10px;
	text-align: left;
	width: 100%;
	display: block
}

.iframe-container form input,
.iframe-container form textarea {
	background-color: #edf2f2;
	border: 1px solid #a3a3a3;
	box-sizing: border-box;
	color: #414141;
	font-family: Oswald, sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: 41px;
	line-height: 41px;
	outline: 0;
	padding: 5px;
	width: 100%;
	border-radius: 5px;
}

.iframe-container form label {
	display: block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 5px 0 0;
	text-align: left;
	/* text-transform: uppercase */
}

.iframe-container form .error-messages {
	-webkit-font-smoothing: antialiased;
	color: #c55330;
	display: block;
	letter-spacing: 1px;
	line-height: 18px;
	width: 100%
}

.iframe-container form .error-messages h2 {
	font-size: 14px;
	line-height: 14px;
	padding-bottom: 10px;
	text-align: left
}

.iframe-container form .error-messages li {
	font-size: 14px;
	line-height: 14px;
	list-style: none;
	padding-bottom: 5px;
	text-align: left
}

.iframe-container form .btn-submit,
.iframe-container form .submit-div input {
	background-color: #282828;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	padding: 0;
	width: 100%;
	display: inline-block;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.iframe-container form .btn-submit:hover,
.iframe-container form .submit-div input:hover {
	-moz-transition: .3s;
	-o-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
	background-color: #c55330
}

.iframe-container form .submit-div input {
	font-size: 16px
}

.iframe-container .facebook-login-div {
	display: inline-block;
	height: 100%;
	min-height: 567px;
	padding-left: 49px;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 250px
}

.iframe-container .facebook-login-div:before {
	border-left: 2px solid #a3a3a3;
	content: "";
	min-height: 567px;
	left: 15px;
	position: absolute;
	top: 0;
	width: 2px;
	z-index: 22
}

.iframe-container .facebook-link {
	width: 250px;
	display: inline-block;
	vertical-align: top;
	padding: 25px 0 0;
	font-weight: 300
}

.facebook-label {
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #edf2f2;
	border: 2px solid #a3a3a3;
	color: #a3a3a3;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	left: -16px;
	line-height: 30px;
	margin: 0 15px;
	position: absolute;
	text-align: center;
	top: 44%;
	vertical-align: middle;
	width: 30px;
	z-index: 66
}

.btn-fb,
.facebook-link {
	font-size: 14px;
	font-weight: 300;
	width: 100%
}

.btn-fb a,
.facebook-link a,
.google-sign_in-link {
	background-color: #436c99;
	color: #fff;
	display: inline-block;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
	margin-bottom: 14px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	width: 100%
}

.google-sign_in-link {
	background-color: #fff;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center
}

.google-sign_in-link img {
	height: 26px;
	margin-right: 5px
}

.google-sign_in-link:hover {
	background-color: #fff !important;
	color: #c55330 !important
}

.btn-fb a:before,
.facebook-link a:before {
	content: url("https://cdn.punchh.com/white-label-basic-images/icon-fb.jpg") no-repeat;
	display: inline-block;
	height: 43px;
	margin: 0 10px;
	vertical-align: middle;
	width: 40px
}

.btn-fb a:hover,
.facebook-link a:hover {
	color: #fff
}

.login-form form {
	padding-top: 20px;
	padding-bottom: 20px
}

.login-form .facebook-login-div,
.login-form .facebook-login-div:before {
	min-height: 230px
}

.login-form .facebook-login-div .facebook-link {
	padding-top: 95px
}

.login-form .submit-div {
	margin-top: 31px
}

.forgot-div {
	top: 190px;
	position: absolute;
	text-align: right;
	width: 265px
}

.alert-message,
.user-dahboard,
.user-dahboard .expiry-warning {
	text-align: center
}

@media screen and (max-width:480px) {

	.iframe-container .login-form,
	.iframe-container .signup-form {
		width: 86%;
		margin: 0 7%
	}

	.iframe-container form {
		width: 100%;
		padding: 0;
		margin: 0
	}

	.iframe-container .facebook-login-div {
		margin: 0;
		min-height: auto;
		padding: 0;
		width: 100%
	}

	.iframe-container .facebook-login-div:before {
		height: 2px;
		border-left: none;
		border-top: 2px solid #a3a3a3;
		left: -20px;
		margin: 0 7%;
		min-height: 2px;
		min-width: 276px;
		padding: 0;
		top: 33px;
		width: 246px
	}

	.iframe-container .facebook-link {
		width: 100%;
		padding: 60px 0 0
	}

	.facebook-label {
		left: 40%;
		top: 15px
	}

	.login-form .facebook-login-div,
	.login-form .facebook-login-div:before {
		min-height: auto
	}

	.forgot-div {
		width: 100%
	}
}

.alert-message {
	color: #c55330;
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	width: 100%
}

.alert-message strong {
	font-weight: 300
}

.password-form .header-div {
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 30px 0
}

.password-form .submit-div {
	margin-top: 20px
}

.password-form .submit-div input {
	font-size: 14px !important
}

.user-dahboard .iframe-container,
.user-dahboard .iframe-header {
	display: inline-block;
	vertical-align: top;
	min-height: 298px;
	border: 1px solid #a3a3a3;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	margin: 30px 0
}

.user-dahboard .iframe-header {
	background-color: #fff;
	padding: 0;
	width: 238px
}

.user-dahboard .iframe-header .header,
.user-dahboard .iframe-header .navbar-div span+span:before {
	display: none
}

.user-dahboard .iframe-header .navbar-div {
	width: 100%;
	padding: 0
}

.user-dahboard .iframe-header .navbar-div span a {
	border-top: 1px solid #a3a3a3;
	display: block;
	font-size: 14px;
	line-height: 14px;
	padding: 17px 0;
	text-transform: none;
	letter-spacing: 1px
}

.user-dahboard .iframe-header .navbar-div span.signout-link {
	-moz-border-radius: 0 0 10px 10px;
	-ms-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px
}

.user-dahboard .iframe-header .navbar-div span.signout-link a {
	background-color: #c55330;
	border: none;
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	-moz-border-radius: 0 0 10px 10px;
	-ms-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px
}

.ecrm-registration-div select,
select#user_fav_location_id {
	background-color: #edf2f2;
	border: 1px solid #a3a3a3;
	box-sizing: border-box;
	color: #414141;
	font-family: Oswald, sans-serif;
	outline: 0;
	padding: 5px;
	font-size: 14px
}

.user-dahboard .iframe-container {
	background-color: #fafafa;
	width: 638px;
	padding: 15px;
	margin-left: 50px
}

.user-dahboard .alert-message {
	width: auto;
	position: absolute
}

.user-dahboard .current-checkins-div {
	font-size: 16px;
	line-height: 25px;
	letter-spacing: .5px
}

.user-dahboard .checkin-form form,
.user-dahboard .redemption-form form,
.user-dahboard .signup-form form {
	width: 100%
}

.show-location,
.user-dahboard .feedback-share-div input {
	width: auto;
	vertical-align: middle
}

.user-dahboard .barcode-digit,
.user-dahboard .barcode-example {
	color: #a3a3a3;
	display: block;
	font-size: 12px;
	font-weight: 300;
	width: 100%;
	letter-spacing: 1px
}

.user-dahboard textarea {
	font-weight: 300;
	min-height: 100px;
	letter-spacing: 1px
}

.user-dahboard .feedback-share-div {
	display: block
}

.user-dahboard .feedback-share-div label {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	font-weight: 300;
	font-size: 13px;
	text-transform: none
}

.user-dahboard .expiry-warning,
.user-dahboard .info-div {
	display: block;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 10px 0
}

.user-dahboard .expiry-warning a,
.user-dahboard .info-div a {
	float: none !important;
	font-size: 16px;
	font-weight: 400
}

.user-dahboard .submit-div {
	width: 280px;
	margin: 0 auto;
	padding: 20px 0
}

.user-dahboard .barcode-div {
	padding-bottom: 15px
}

.ecrm-registration-div select {
	font-weight: 400;
	width: 32%
}

.ecrm-registration-div select#location_id {
	width: 100% !important
}

.ecrm-registration-div input[type=checkbox] {
	display: inline-block;
	height: auto;
	margin-top: 10px;
	vertical-align: top;
	width: auto !important;
	float: left
}

.ecrm-registration-div form label.middle {
	display: inline-block;
	vertical-align: top;
	width: 90%;
	text-transform: none
}

.ecrm-registration-div .submit-div {
	margin-top: 15px;
	margin-bottom: 25px
}

.ecrm-registration-div label.required:before {
	content: "*";
	color: red;
	display: inline-block;
	margin-right: 3px
}

select#user_fav_location_id {
	font-weight: 400;
	width: 100%;
	height: 41px
}

select#location_id:focus,
select#user_fav_location_id:focus {
	outline: -webkit-focus-ring-color auto 5px
}

select[disabled] {
	color: #666;
	background: #fff;
	cursor: not-allowed
}

.text-link {
	color: #0087d9 !important
}

.text-link::before {
	background: #8bbced !important
}

.show-location {
	display: inline-block !important;
	text-align: left;
	float: left
}

#all-location {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	padding: 0;
	margin: 5px 0 0;
	font-size: 14px;
	float: right;
	font-weight: lighter !important;
	text-decoration: underline !important
}

#fav-location-id-hint {
	font-size: 14px;
	line-height: 19px;
	text-align: left;
	font-weight: 400;
	float: left;
	margin-top: 20px
}
.staged-redemption .hint {
    margin-bottom: 0.6rem;
}
.redeemables_heading {
    font-weight: bold;
    font-size: 1rem;
    margin: 20px 0 0 0;
}
.redemption-form .redeemables_cards {
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex !important;
    padding: 0;
    align-items: flex-start;
    margin-top: 0.5rem;
}
.redemption-form .redeemables_cards .redeemables_cards_input {
    margin: 8px 10px 0 0;
	width: unset;
}
.btn-view-more {
    line-height: 1.5;
    cursor: pointer;
}
.locked-redeemables .locked_redeemables_container {
    max-height: 430px;
    overflow: hidden;
}
.locked-redeemables.view_more_container .locked_redeemables_container {
    max-height: unset;
    overflow: scroll;
}
.btn-view-more {
    line-height: 1.5 !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.redemption-form .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.redemption-form .form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    border: 1px solid #ff0000;
	align-items: baseline;
    justify-content: start;
	width: 100%;
	box-sizing: border-box;
	background-color: pink;
}
.redemption-form input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
    width: inherit;
    height: inherit;
}
.redemption-form .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}
.redemption-form input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.redemption-form .form-check-label {
    margin-bottom: 0;
}
.redemption-form label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.redemption-form .text-muted {
    color: #6c757d!important;
}
.redemption-form p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.redemption-form .disabled-form {
    pointer-events: none;
    opacity: 0.4;
}
.redemption-form .text-bold {
    font-weight: 700 !important;
	text-transform: capitalize;
}
.w-100 {
    width: 100%;
}
.navbar-div span.account-link a {
	border-top: none !important;
}
/* .redeemable-div label {
	margin: 30px 0 0 0 !important;
} */
.redeemable-div select {
	width: 100%;
	height: 30px;
}
.d-flex {
	display: flex;
}
.locked-redeemables,
.locked_redeemables_container {
	width: 100%;
}
.location-div > div.d-flex {
	margin-top: 15px;
	margin-bottom: 5px;
}
.location_redeem select,
.checkin-div select {
    width: calc(100% - 12px);
    height: 30px;
}
.locked_redeemables_container {
    min-width: 100%;
}
.btn-view-more {
    width: 100%;
}
.redemption-div .location-select label {
    display: inline-block;
}
.redemption-div .location-select {
	margin-top: 15px;
}
.redemption-div .location_redeem  {
	margin-bottom: 20px;
}
